
NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN={{ PROJECT ID }}.firebaseapp.com
NEXT_PUBLIC_FB_DATABASE_URL=https://{{ PROJECT ID }}.firebaseio.com
NEXT_PUBLIC_FB_PROJECT_ID={{ PROJECT ID }}
NEXT_PUBLIC_FB_STORAGE_BUCKET={{ PROJECT ID }}.appspot.com
NEXT_PUBLIC_FB_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FB_APP_ID=

FB_PROJECT_ID=
FB_PRIVATE_KEY_ID=
FB_PRIVATE_KEY=
FB_CLIENT_EMAIL=firebase-adminsdk-qvzwe@{{ PROJECT ID }}.iam.gserviceaccount.com
FB_CLIENT_ID=
FB_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FB_TOKEN_URI=https://oauth2.googleapis.com/token
FB_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FB_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-qvzwe%40{{ PROJECT ID }}.iam.gserviceaccount.com
FB_UNIVERSE_DOMAIN=googleapis.com
FB_DATABASE_URL=https://{{ PROJECT ID }}.firebaseio.com
FB_STORAGE_BUCKET="{{ PROJECT ID }}.appspot.com"

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=

NEXT_PUBLIC_API_BASE_URL=

ANALYZE=true
AUTH_TRUST_HOST=false
