@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply font-medium rounded-lg px-5 py-2.5 disabled:cursor-not-allowed;
}

.btn-primary {
  @apply text-white bg-blue-700 dark:bg-blue-600;
  @apply hover:bg-blue-800 dark:hover:bg-blue-700;
  @apply focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800;
  @apply disabled:bg-blue-700 dark:disabled:bg-blue-600 disabled:opacity-50;
}

.btn-light {
  @apply text-gray-900 bg-white border border-gray-300 dark:bg-gray-800 dark:text-white dark:border-gray-600;
  @apply hover:bg-gray-100;
  @apply focus:outline-none  focus:ring-0 focus:border-gray-100 dark:focus:border-gray-700;
  @apply dark:hover:bg-gray-700 dark:hover:border-gray-600;
  @apply disabled:bg-white disabled:dark:bg-gray-800;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

@theme {
  --animate-fadeId: fadeId 0.3s ease-in-out forwards;
  --animate-fadeOut: fadeOut 0.3s ease-in-out forwards;
  --animate-inUp: inUp 0.3s ease-in-out forwards;
  --animate-outDown: outDown 0.3s ease-in-out forwards;
  --animate-outRight: outRight 0.3s ease-in-out forwards;
  --animate-outLeft: outLeft 0.3s ease-in-out forwards;
  --animate-appearsFromRight: appearsFromRight 0.3s ease-in-out forwards;
  --animate-appearsFromLeft: appearsFromLeft 0.3s ease-in-out forwards;

  @keyframes fadeId {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes inUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes outDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  @keyframes outRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes outLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes appearsFromLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes appearsFromRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
