.podium {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". first ."
    "second first-base third"
    "second-base first-base third-base";
}

.first {
  grid-area: first;
  display: grid;
}

.second {
  grid-area: second;
  display: grid;
}

.third {
  grid-area: third;
  display: grid;
}

.first-base {
  grid-area: first-base;
}

.second-base {
  grid-area: second-base;
}

.third-base {
  grid-area: third-base;
}
