.podium {
  display: grid;
  grid-template-areas:
    ". first ."
    "second first-base third"
    "second-base first-base third-base";
}

.first {
  grid-area: first;
  display: grid;
}

.second {
  grid-area: second;
  display: grid;
}

.third {
  grid-area: third;
  display: grid;
}

.first-base {
  grid-area: first-base;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-base {
  grid-area: second-base;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-base {
  grid-area: third-base;
  display: flex;
  justify-content: center;
  align-items: center;
}
